<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net xmlns="urn:log4net">
        <appender name="Console" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %level [%thread] (%class.%method:%line) - %message%newline" />
            </layout>
        </appender>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <file value="LightsClient.log" />
            <appendToFile value="true" />
            <maximumFileSize value="1024KB" />
            <maxSizeRollBackups value="10" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %level [%thread] (%class.%method:%line) - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile" />
        </root>
    </log4net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="lightsManagerPort" value="9192"/>
        <add key="registrationRetryPeriodMillis" value="5000"/>
        <add key="waitForDeviceRetryPeriodMillis" value="1000"/>
        <add key="notificationManagerHost" value="ci"/>
        <add key="notificationManagerPort" value="9191"/>
        <!--<add key="usbProductId" value="0x0486"/>
        <add key="usbVendorId" value="0x16C0"/>
        <add key="usbUsage" value="0x0004"/>
        <add key="usbUsagePage" value="0xFFC9"/>
        <add key="usbControlTransferType" value="Raw"/>
        <add key="usbProtocolType" value="DasBlinkenlichten"/>-->
        <add key="usbProductId" value="0x01ED"/>
        <add key="usbVendorId" value="0x27B8"/>
        <add key="usbUsage" value="0x0001"/>
        <add key="usbUsagePage" value="0xFF00"/>
        <add key="usbControlTransferType" value="FeatureReport"/>
        <add key="usbProtocolType" value="Blink1"/>
    </appSettings>
</configuration>